<div>
<button data-modal-target="authentication-modal" data-modal-toggle="authentication-modal" class="text-white ring-0 bg-main px-3 py-1.5 rounded block mx-auto cursor-pointer">Add Note</button>


  <div class="mt-3">
    <input [(ngModel)]="searchTerm" type="search"  class="mx-auto w-10/12 block border border-default-medium text-heading text-sm rounded-base ring-0  b px-3 py-2.5 shadow-xs placeholder:text-body" placeholder="Search Here..." required />
  </div>




<!-- Main modal -->
<div id="authentication-modal" tabindex="-1" aria-hidden="true" class="hidden items-center bg-black/95 inset-0   justify-center fixed w-full z-50">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-neutral-primary-soft border border-default rounded-base shadow-sm p-4 md:p-6">
            <!-- Modal header -->
            <div class="flex items-center justify-between border-b border-default pb-4 md:pb-5">
                <h3 class="text-lg font-medium text-heading">
                    Update Note
                </h3>
                <button #closeBtn type="button" class="cursor-pointer text-body bg-transparent hover:bg-neutral-tertiary hover:text-heading rounded-base text-sm w-9 h-9 ms-auto inline-flex justify-center items-center" data-modal-hide="authentication-modal">
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6"/></svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <form action="#" class="pt-4 md:pt-6" (ngSubmit)="addNote()" [formGroup]="addNoteForm">
                <div class="mb-4">
                    <label for="title" class="block mb-2.5 text-sm font-medium text-heading">Title:</label>
                    <input [class.!border-main]="addNoteForm.get('title')?.valid && addNoteForm.get('title')?.touched" [class.!border-red-500]="addNoteForm.get('title')?.invalid && addNoteForm.get('title')?.touched" formControlName="title" type="text" id="title" class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base ring-0  block w-full px-3 py-2.5 shadow-xs placeholder:text-body" placeholder="Please Enter Title...." required />
                </div>

                @if (addNoteForm.get('title')?.invalid && addNoteForm.get('title')?.touched) {
@if (addNoteForm.get('title')?.getError('required')) {

                    <div class="p-4 mb-2 text-sm text-fg-danger-strong rounded-base bg-danger-soft" role="alert">
  <span class="font-medium">Title Is Required</span>
</div>


}@else if (addNoteForm.get('title')?.getError('minlength')) {

                       <div class="p-4 mb-2 text-sm text-fg-danger-strong rounded-base bg-danger-soft" role="alert">
  <span class="font-medium">Title must be at least 3 chars</span>
</div> 
}@else if (addNoteForm.get('title')?.getError('maxlength')) {
                           <div class="p-4 mb-2 text-sm text-fg-danger-strong rounded-base bg-danger-soft" role="alert">
  <span class="font-medium">Title must be at max 10 chars</span>
</div> 
}
                }



                <div class="mb-5">
                    <label for="content" class="block mb-2.5 text-sm font-medium text-heading">Content:</label>
                    <textarea formControlName="content" rows="3" [class.!border-main]="addNoteForm.get('content')?.valid && addNoteForm.get('content')?.touched" [class.!border-red-500]="addNoteForm.get('content')?.invalid && addNoteForm.get('content')?.touched" id="content" class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base ring-0 block w-full px-3 py-2.5 shadow-xs placeholder:text-body" placeholder="Please Enter Content...."  ></textarea>
                </div> 


                @if (addNoteForm.get('content')?.invalid && addNoteForm.get('content')?.touched) {
@if (addNoteForm.get('content')?.getError('required')) {

                    <div class="p-4 mb-2 text-sm text-fg-danger-strong rounded-base bg-danger-soft" role="alert">
  <span class="font-medium">content Is Required</span>
</div>


}@else if (addNoteForm.get('content')?.getError('minlength')) {

                       <div class="p-4 mb-2 text-sm text-fg-danger-strong rounded-base bg-danger-soft" role="alert">
  <span class="font-medium">content must be at least 3 chars</span>
</div> 
}
                }



                <button type="submit" [disabled]="addNoteForm.invalid || _loaderService.isLoading()" class="text-white bg-main box-border cursor-pointer border border-transparent hover:bg-main-strong focus:ring-4 focus:ring-main-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none w-full mb-3">
                    @if (_loaderService.isLoading()) {
                        Loading....
                    }@else {
                        Submit
                    }


                </button>
            </form>
        </div>
    </div>
</div> 



</div>




@if (notes.length !== 0) {
<div class="grid md:grid-cols-3 gap-3 mt-5">
<!-- note card -->
@for (note of notes | search : searchTerm; track $index) {
<div class="border border-gray-300 p-3 space-y-10 rounded">
<div class="flex justify-between flex-col ">
<div class="note-content space-y-3 flex items-start justify-between">
<h4>{{note.title}}</h4>
<p>{{note.createdAt | date : "short"}}</p>
</div>
<p>{{note.content}}</p>
</div>
<div class="note-btns flex items-center gap-2">
<button  type="button" class="bg-yellow-400 cursor-pointer px-3.5 py-1.5 text-black rounded" (click)="SetToUpdateNote(note)" >Update</button>
<button class="bg-red-500 cursor-pointer px-3.5 py-1.5 text-black rounded" (click)="deleteNote(note._id)">Delete</button>
</div>
</div>
}
</div>
}@else { 

                       <div class="p-4 mt-2 text-xl w-full text-fg-danger-strong rounded-base bg-danger-soft" role="alert">
  <span class="font-medium">Not Found Data</span>
</div> 

}









<!-- update model -->

<div  tabindex="-1" aria-hidden="true" [class.!flex]="_isShowOfUpdateForm" class="hidden  bg-black/95 fixed items-center justify-center inset-0 z-50">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-neutral-primary-soft border border-default rounded-base shadow-sm p-4 md:p-6">
            <!-- Modal header -->
            <div class="flex items-center justify-between border-b border-default pb-4 md:pb-5">
                <h3 class="text-lg font-medium text-heading">
                   Update Note
                </h3>
                <button #closeBtnOfUpdate (click)="_isShowOfUpdateForm=false" type="button" class="cursor-pointer text-body bg-transparent hover:bg-neutral-tertiary hover:text-heading rounded-base text-sm w-9 h-9 ms-auto inline-flex justify-center items-center">
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6"/></svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <form action="#" class="pt-4 md:pt-6" (ngSubmit)="updateNote()" [formGroup]="updateNoteForm">
                <div class="mb-4">
                    <label for="title" class="block mb-2.5 text-sm font-medium text-heading">Title:</label>
                    <input [class.!border-main]="updateNoteForm.get('title')?.valid && updateNoteForm.get('title')?.touched" [class.!border-red-500]="updateNoteForm.get('title')?.invalid && updateNoteForm.get('title')?.touched" formControlName="title" type="text" id="title" class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base ring-0  block w-full px-3 py-2.5 shadow-xs placeholder:text-body" placeholder="Please Enter Title...." required />
                </div>

                @if (updateNoteForm.get('title')?.invalid && updateNoteForm.get('title')?.touched) {
@if (updateNoteForm.get('title')?.getError('required')) {

                    <div class="p-4 mb-2 text-sm text-fg-danger-strong rounded-base bg-danger-soft" role="alert">
  <span class="font-medium">Title Is Required</span>
</div>


}@else if (updateNoteForm.get('title')?.getError('minlength')) {

                       <div class="p-4 mb-2 text-sm text-fg-danger-strong rounded-base bg-danger-soft" role="alert">
  <span class="font-medium">Title must be at least 3 chars</span>
</div> 
}@else if (updateNoteForm.get('title')?.getError('maxlength')) {
                           <div class="p-4 mb-2 text-sm text-fg-danger-strong rounded-base bg-danger-soft" role="alert">
  <span class="font-medium">Title must be at max 10 chars</span>
</div> 
}
                }



                <div class="mb-5">
                    <label for="content" class="block mb-2.5 text-sm font-medium text-heading">Content:</label>
                    <textarea formControlName="content" rows="3" [class.!border-main]="updateNoteForm.get('content')?.valid && updateNoteForm.get('content')?.touched" [class.!border-red-500]="updateNoteForm.get('content')?.invalid && updateNoteForm.get('content')?.touched" id="content" class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base ring-0 block w-full px-3 py-2.5 shadow-xs placeholder:text-body" placeholder="Please Enter Content...."  ></textarea>
                </div> 


                @if (updateNoteForm.get('content')?.invalid && updateNoteForm.get('content')?.touched) {
@if (updateNoteForm.get('content')?.getError('required')) {

                    <div class="p-4 mb-2 text-sm text-fg-danger-strong rounded-base bg-danger-soft" role="alert">
  <span class="font-medium">content Is Required</span>
</div>


}@else if (updateNoteForm.get('content')?.getError('minlength')) {

                       <div class="p-4 mb-2 text-sm text-fg-danger-strong rounded-base bg-danger-soft" role="alert">
  <span class="font-medium">content must be at least 3 chars</span>
</div> 
}
                }



                <button type="submit" [disabled]="updateNoteForm.invalid || _loaderService.isLoading()" class="text-white bg-main box-border cursor-pointer border border-transparent hover:bg-main-strong focus:ring-4 focus:ring-main-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none w-full mb-3">
                    @if (_loaderService.isLoading()) {
                        Loading....
                    }@else {
                        Update
                    }


                </button>
            </form>
        </div>
    </div>
</div> 
